form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

select,
input,
textarea,
button,
select {
  margin: 0.2em 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 1em;

  color: #333;
  font-size: 20px;
  font-weight: bold;
}

select {
  background-color: #ffffff;
  appearance: none;
  position: relative;
}

select::after{
    content: '>'; 
}



button {
  background-color: rgb(6, 6, 78);
  font-size: 1em;
  color: white;
}
